{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

 {% block body %}
     <ul id="products">
         {% for item in items %}
             <li class="product">{{ item.name }}</li>
         {% endfor %}
     </ul>
 {% endblock %}
